.content-wrapper
  / Content
  .container-xxl.flex-grow-1.container-p-y
    .col-md-8.mx-auto
      %h4.fw-bold.py-3.mb-4
        Orgaização
        %span.text-muted.fw-light / Editar

      = render 'form'