.container-xxl.flex-grow-1.container-p-y
  %h4.fw-bold.py-3.mb-4
    %span.text-muted.fw-light Prêmio Principal /
    Visualizar
  .row
    .col-md-12
      .row
        .col-md-6.col-12.mb-md-0.mb-4
          .col-md
            .card
              %h5.card-header Informações
              .card-body
                %p Display content from your connected accounts on your site
          %br
          .col-md
            .card.mb-3
              .card-body
                %h5.card-title Card title
                %p.card-text
                  This is a wider card with supporting text below as a natural lead-in to additional content.
                  This content is a little bit longer.
                %p.card-text
                  = link_to edit_user_partnership_path(current_user.organization.partnership), class: 'btn btn-primary' do
                    %i.menu-icon.tf-icons.bx.bx-edit
                    Editar

        .col-md-6.col-12
          .col-md
            .card.mb-3
              .card-body
                %h5.card-title Página do Affiliado
                %p.card-text
                  This is a wider card with supporting text below as a natural lead-in to additional content.
                  This content is a little bit longer.
                %p.card-text
                  = link_to  edit_user_partnership_path(current_user.organization.partnership), class: 'btn btn-warning mx-1' do
                    %i.menu-icon.tf-icons.bx.bx-copy
                    Link da Página

          .card
            %h5.card-header Adicione o Card no seu Site
            .card-body
              %p Display content from social accounts on your site
              %hr
              .card.bg-dark
                .card-body
                  %pre
                    %code
                      %span
                        %span.text-white npm i bootstrap@5.2.3
