.mb-4
  #profile-upper
    #profile-banner-image
      %img{src: "https://imagizer.imageshack.com/img921/9628/VIaL8H.jpg"}/
    #profile-d
      #profile-pic
        %img{src: "https://imagizer.imageshack.com/img921/3072/rqkhIb.jpg"}/
      #u-name= @project.title
