= flash_message

.content-wrapper
  
  .container-xxl.flex-grow-1.container-p-y
    .col-10.mx-auto
      .col-md
        .card.mb-3
          .row.my-3
            .col-md-4
              .position-relative
                %img{alt: "", src: "https://codescandy.com/geeks-bootstrap-5/assets/images/background/acedamy-img/girl-image.png"}/
                %img.position-absolute.bottom-0.mb-10.ms-n10.ms-lg-n1{alt: "", src: "https://codescandy.com/geeks-bootstrap-5/assets/images/background/acedamy-img/target.svg"}/
                %img.position-absolute.top-0.start-0.mt-18.ms-lg-n19.ms-n8{alt: "", src: "https://codescandy.com/geeks-bootstrap-5/assets/images/background/acedamy-img/sound.svg"}/
                %img.position-absolute.top-0.start-0.ms-lg-n14.ms-n5{alt: "", src: "https://codescandy.com/geeks-bootstrap-5/assets/images/background/acedamy-img/trophy.svg"}/
            .col-md-8
              .card-body
                %h5.card-title Card title
                %p.card-text
                  This is a wider card with supporting text below as a natural lead-in to additional content.
                  This content is a little bit longer.
                %p.card-text
                  %small.text-muted Last updated 3 mins ago


