%ul.nav.nav-pills.flex-column.flex-md-row.mb-3
  %li.nav-item
    %a.nav-link.active{href: "javascript:void(0);"}
      %i.bx.bx-box.me-1
      Arquivos
  %li.nav-item
    %a.nav-link{href: "pages-account-settings-notifications.html"}
      %i.bx.bx-bell.me-1
      Notificações
  %li.nav-item
    %a.nav-link{href: "pages-account-settings-connections.html"}
      %i.bx.bx-link-alt.me-1
      Conexões
